<div v-if="isVisible" class="modal-backdrop" @click.self="close">
  <div class="modal-content">
    <header>
      <h3>{{ title }}</h3>
      <span class="close-btn" @click="close">&times;</span>
    </header>
    <div class="modal-body">
      <slot>Apakah Anda yakin?</slot>
    </div>
    <footer>
      <button class="btn btn-danger" @click="confirm">
        Ya, {{ actionText }}
      </button>
      <button class="btn btn-warning" @click="close">Batal</button>
    </footer>
  </div>
</div>
